@import "../../variables.scss";

.logo {
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    color: #495772;
    cursor: pointer;
}


.header {
    width:100%;
    display: flex;
    align-items: center;
    margin-bottom:10px;

    .game-id {
        font-size:1.2em;
    }
}

.game-page {
    min-height: 100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgColor;

    .turn-indicator {
        font-size:.9em;
        font-weight:900;
    }
    .game-container {
        display:flex;
        align-items: center;
        justify-content: center;

        ._space3d {
            margin-left:20px; 
        }
    }

    .game-controls {
        display: flex;
        flex-direction: row;
        .button:not(:first-child) {
            margin-left:10px;
        }
    }

    .game-page-wrapper {
    
        min-width:600px;
        max-width:900px;

    }

    .game-card-container {
        display:flex;
    }

    .game-main-card-counter {
        text-align: left;
        margin-top:10px;
        font-weight:bold;
        color: rgb(255, 208, 0);
        width:100%;
    }
}


.player-list {
    border:1px solid $secondaryBgColor;
    width:270px;
    min-width:270px;
    border-radius: 5px;
    font-size:1.2em;
    margin-left:10px;
    
    .player-list-player {
        padding: 0px 20px 0px 20px;

        .inactive {
            color:grey;
        }
        .player-top {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .player-list-name {
            flex-grow:1;
            text-align:left;
         
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
        }

        .player-list-score {
            text-align: right;
            font-weight:bold;
            min-width:60px;
            font-size:.9em;
        }
        .middot {
            margin-left:5px; 
            margin-right: 5px;
        }
        .player-dice {
            display:flex;
            margin-top:-6px;
            font-size:.9em;
        }

        .player-dice-count {
            display:flex;
            align-items: center;
            font-size:.9em;
            
            .player-dice-count-label {
                margin-right:5px;
                min-width:20px;
                text-align: right;
            }
        }
    }   

    .active-player {
        background-color:  rgb(59, 66, 83)
    }
}


.join-modal-container {
    position:fixed;
    top: 0; 
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,.5);
    
    .join-modal-view {
        padding:30px;
        width:400px;
        margin-top:200px;
        background-color: $bgColor;
        margin-left:-200px; 
        left:50%;
        position:relative;
        display: flex;
        box-shadow: 1px 0px 5px #273c64;

        .input {
            background-color: $secondaryBgColor;
            border:1px solid #1c2536;
            margin-right: 10px;
            flex-grow: 1;
            color: $fontColor;
        }

        .join-modal-control {
            margin-top:10px;
            width:100%;
            display:flex;
            justify-content: space-between;
        }
    }
}


.win-screen {
    background-color: #151618ce;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    display:flex;
    z-index:10;
    align-items: center;
    justify-content: center;
    animation: fadeIn ease .75s;

    .final-scores-container {
        .winner {
            min-width:400px;
            padding:20px;
            
            border-radius:10px;
            background-color: #d6b704;
            color:white;
            font-weight:bold;
            box-shadow: 0 0 25px gold;
            
            .winner-title {
                font-size:2em;
            }
            
            .winner-score {
                margin-top:10px;
                font-size:1.5em;
            }
        }

        .other-scores {
            margin-top:20px;

            .final-other-score {
                font-size:1.2em;
                color : white;
                display:flex;
            }
        }
    }
}

.bottom-player-list {
    visibility: collapse;
    width:100%;
    margin-top:20px;
    .header {
        text-transform: uppercase;
        font-weight:900;
        padding-left:10px
    }
    .player-list {
        width:100%;
        
        margin-left:0px;
    }
}



@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


@media screen and (max-width:875px) {
    .bottom-player-list {
        visibility: visible;
    }

    .game-card-container {
        .player-list {
            display: none;
        }
    }


} 
@media screen and (max-width:600px) {
    .minimenu {
        visibility: visible;
    }

    .header {
        margin-bottom: 0px;
    }
    
    .game-page {
        display: inherit;

        .game-id {
            display: block;
        }

        .logo {
            span {
                display:none;
            }
        }
        .logo::after {
            content: "shϟsh";
        }

        .game-page-wrapper {
            width:100%;
            min-width:360px;
        }

        .game-card {
            width:100%;
            min-width:unset;
            border: none;
            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: space-between;
            min-height:400px;
            border-top:1px solid #333b4b;
            border-bottom:1px solid #333b4b;
            padding-top:15px;
            padding-bottom:10px;
            
        }

        .game-controls {
            justify-content: center;
        }

        .game-main-card-counter, .turn-indicator {
            display:none;
        }

        .card-row {
            display: flex;
            flex-direction: column;
            
            .card-row-values {
                display: flex;
                flex-direction: column;

                .cube {
                    margin:unset;
                }
                
                .card-dice:not(:first-child), .card-dice {
                    margin: 10px 0px 0px 0px;
                }
            }
        }
    }



    .game-card-container {
        display:flex;
        flex-direction: column;
        .player-list { display:none };
    }

    .game-container {
        .dice-manager {

            .die:not(:first-child) {
                margin-left:10px;
            }

            .selected {
                border-width: 3px;
            }
        }

        .cube {
            height:60px;
            width:60px;

            .dot {
                height:15px;
                width:15px;
            }
        
        }

        .front {
            transform: rotateX(0deg) translateZ(30px);
            justify-content: center;
            align-items: center;
        }
        .top {transform: rotateX(90deg) translateZ(30px);}
        .right {transform: rotateY(90deg) translateZ(30px);}
        .left {transform: rotateY(-90deg) translateZ(30px);}
        .bottom {transform: rotateX(-90deg) translateZ(30px);}
        .back {transform: rotateY(-180deg) translateZ(30px);}
    }
}
